.rs-parallax {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-attachment: fixed;
	height: 714px;
	max-width: calc(100% - 50px);
	margin: 0 auto;

	@media (max-width: 1439.98px) {
		max-width: calc(100% - 30px);
		height: 500px;
	}


	@media (max-width: 991.98px) {
		max-width: calc(100% - 40px);
		height: 364px;
	}

	@supports (-webkit-overflow-scrolling: touch) {
		& {
			background-attachment: scroll;
		}
	}
}
